/*stylesheet*/
.body {
    display: flex;
    justify-content: center;
    

}
.logo-image {
    height: 50px;
}
.logo {
    display: flex;
    gap: 8px;
    font-size: 24px;
    color: #f9faf8;
    
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 24px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}
.header-links {
    display: flex;
    padding-top: 24px;
    gap: 8px;

}
.hero-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
    padding-top: 25px;
    
}
.hero-left {
    max-width: 500px;
}
.hero-image {
    max-height: 200px;
    min-height: auto;
}
.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 24px;
    
}
.menu {
    max-width: 150px;
    
}
.menus {
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 24px;
    
   
}
.menu-p {
    text-wrap: wrap;
    max-width: 150px;
    padding: 24px;
    padding-top: 8px;
}
.feedbacks, .sign-up, .footer {
    text-align: center;
}
h6 {
    text-align: right;
    
}
.hero-section, .footer, .header {
    background-color: #1f2937;
    color: ;
}
h2 {
    size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
.hero-p, .header-links {
    color: #e5e7eb;
    size: 18px;
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
}
.information-header {
    size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.feedbacks {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    justify-content: center;
    
    
}
.feedbacks-text {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 400px;
    
}
h3 {
    padding: 24px;
    font-size: 24px;
}
.sign-up-container {
    background-color:#3882f6 ;
    padding: 100px;
    margin: 100px;
    margin-left: 250px;
    margin-right: 250px;
}
.sign-up-p {
    font-size: 24px;
    color: #f9faf8;
}
.footer, .hero-p {
    font-size: 18px;
}
.footer {
    padding: 8px;
}